<!doctype html>
<html>
<head><meta charset="utf-8" /><title>Thanks</title></head>
<body>
  <h2>✅ Thank you!</h2>
  <p>We received your message for <b><%= client.name %></b>.</p>

  <% if (client.bookingLink) { %>
    <p>Book a call here:</p>
    <p><a href="<%= client.bookingLink %>"><%= client.bookingLink %></a></p>
  <% } else { %>
    <p>The business will contact you soon.</p>
  <% } %>
</body>
</html>
